<h1 id="logo" class="root__logo" aria-label="Welcome To Test App">Test app</h1>
<nav class="root__nav" aria-label="navigation">
  <a class="btn root__nav__a" routerLink="/home" routerLinkActive="active" aria-label="Home">Home</a>
  <a class="btn root__nav__a" href="https://cexagupta.github.io/angular-test-app-test-coverage/" aria-label="Test Coverage">Test Coverage</a>
</nav>
<router-outlet aria-hidden="true"></router-outlet>
<footer class="root__footer" aria-label="Footer" role="contentinfo">Develop by Akash Gupta</footer>
<div class="root__sidebar left" aria-hidden="true"></div>
<div class="root__sidebar right" aria-hidden="true"></div>
